/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end meyer reset */


/************************************/
/*             TYPOGRAPHY           */
/************************************/

body, html {
    background: black;
    height: 100%;
    width: 100%;
    color: white;
    overflow: hidden;
    font-family: "Helvetica Neue", arial;
    font-size: 13px;
    background: #222;
}
#map_container {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}
#geo {
    position: absolute;
    top: 0;
    width: 100%;
    background: inherit;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 3600px;
    height: 1800px;
}
#mapdata {
    transform-origin: 0 0;
    width: 3600px;
    height: 1800px;
    position: absolute;
    top: 0;
    left: 0;
}
#mapdata img {
    width: 3600px;
    height: 1800px;
    overflow: hidden;
    pointer-events: none;
}

#messages {
    list-style: none;
    margin: 0;
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: 512px;
    z-index: 20000;
}
.overlay {
    position: absolute;
    max-width: 500px;
    overflow: hidden;
    opacity: 0.9;
    text-shadow: 0 0 20px #000;
    font-size: 0.7em;
    line-height: 10px;
    height: 12px;
    overflow: hidden;
}
.overlay strong {
    font-weight: bold;
}
.overlay .favicon {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    float: left;
}
#rate {
    background: #111;
    opacity: 0.8;
    color: #fff;
    position: absolute;
    right: 10px;
    padding: 10px;
    top: 10px;
    text-align: right;
}
#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: right;
    color: #fff;
    font-size: 0.7em;
}
#footer a {
    color: #fff;
}

#login_as { display: none !important; }
